@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Poppins:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background: url(images/istockphoto-1341408852-640x640.jpg);
    background-size: cover;
    background-position: center;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0%;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg,tranparent,rgba(255,255,255,.4),tranparent); */
    transition: .5s;
    background: rgba(0, 0, 0, .1);
    backdrop-filter: blur(50px);
    z-index: -1;
}


.navbar a {
    text-decoration: none;
    color: #fff;
    margin-left: 25px;
    font-size: 18px;
    transition: .3s;
}

.navbar a:hover {
    color: red;
}

.Logo {
    color: #fff;
    text-decoration: none;
    font-size: 25px;
    font-weight: 600;
    cursor: default;
}

.icons {
    font-size: 23px;
    right: 5%;
    color: #fff;
    cursor: pointer;
    display: none;

}

@media (max-width:992px) {
    .header {
        padding: 1rem 5%;
    }
}
.icons #cross
{
    display: none;
}
#check
{
    display: none;
}
@media(max-width:768px) {
    .icons {
        display: inline-flex;
    }
    .icons #cross
    {
        display: none;
    }
    #check:checked~.icons #menu-icon
    {
        display: none;
    }
    #check:checked~.icons #cross
    {
        display: block;
    }
    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, rgba(0, 0, 0, .1));
        backdrop-filter: blur(50px);
        box-shadow: 0.5rem 1rem rgba(0, 0, 0, .1);
        transition: .5s ease;
        overflow: hidden;
    }
    #check:checked~.navbar
    {
        height: 20rem;
    }
    .navbar a {
        display: block;
        font-size: 18px;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        transition: .5s ease;
        opacity: 0;
    }
    #check:checked~.navbar a
    {
        transform: translateY(0);
        transition-delay: calc(.15s *var(--i));
        opacity: 1;
    }
}